# {{ ansible_managed }}
SPRING_PROFILES_ACTIVE={{ app_profile }}
SERVER_PORT={{ app_port }}
{% if app_color | length > 0 %}
APP_COLOR="{{ app_color }}"
{% endif %}
DB_PASSWORD="{{ vault_db_password }}"
